.container {
  position: relative;
  width: 700px;
  height: 700px;
  /* background: #f9d066; */
  margin: 3px auto;
}
.uvas {
  position: absolute;
  margin: 25px 0;
  animation: rotar 3s alternate infinite;
}
.tallo {
  position: absolute;
  width: 112px;
  height: 112px;
  border-top: 12px solid #429114;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-radius: 132px / 100px;
  transform: rotate(112deg);
  margin: 0px 261px;
}
.hojas {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 300px 3000px 300px 3000px;
  background: #299100;
  margin: -12px 370px;
  transform: rotate(90deg);
}
.hojas::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 300px 3000px 300px 3000px;
  background: #0d8400;
  margin: 9px 40px;
  transform: rotate(35deg);
}
.hojas::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 300px 3000px 300px 3000px;
  background: #0d8400;
  margin: 37px 3px;
  transform: rotate(-21deg);
}

.subir {
  position: absolute;
  animation: bajar 3s alternate infinite;
}
.bajar {
  position: absolute;
  animation: subir 3s alternate infinite;
}
.u1,
.u2,
.u3,
.u4,
.u5,
.u6,
.u7,
.u8,
.u9,
.u10,
.u11,
.u12,
.u13,
.u14,
.u15,
.u16,
.u17,
.u18,
.u19,
.u20,
.u21,
.u22,
.u23,
.u24,
.u25,
.u26,
.u27,
.u28,
.u29,
.u30,
.u31 {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: whitesmoke;
  /* background: radial-gradient(
    at center center,
    rgb(233, 213, 255),
    rgb(192, 132, 252),
    rgb(107, 33, 168)
  ); */
}

/* 첫번쨰줄 가운데 */
.u1 {
  margin: 102px 300px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u2 {
  margin: 102px 370px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u3 {
  margin: 102px 230px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u4 {
  margin: 162px 264px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u5 {
  margin: 162px 334px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u6 {
  margin: 162px 404px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u7 {
  margin: 162px 194px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u8 {
  margin: 162px 124px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u9 {
  margin: 222px 299px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u10 {
  margin: 222px 229px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u11 {
  margin: 222px 159px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u12 {
  margin: 222px 369px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u13 {
  margin: 222px 439px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u14 {
  margin: 282px 404px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u15 {
  margin: 282px 334px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u16 {
  margin: 282px 264px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u17 {
  margin: 282px 194px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u18 {
  margin: 282px 124px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u19 {
  margin: 342px 159px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u20 {
  margin: 342px 229px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u21 {
  margin: 342px 299px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u22 {
  margin: 342px 369px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u23 {
  margin: 402px 194px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u24 {
  margin: 402px 264px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u25 {
  margin: 402px 334px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u26 {
  margin: 462px 299px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u27 {
  margin: 462px 229px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u28 {
  margin: 462px 159px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u29 {
  margin: 522px 194px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u30 {
  margin: 522px 264px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.u31 {
  margin: 581px 229px; /* 이 부분은 각 포도의 위치를 적절하게 조정해야 합니다 */
}

.grape {
  background: radial-gradient(
    at center center,
    rgb(233, 213, 255),
    rgb(192, 132, 252),
    rgb(107, 33, 168)
  );
}

/* 보물 상자 */
.treasure {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url(https://i.ibb.co/gw33r3k/land.png);
}

.treasure:hover {
  background-image: url(https://i.ibb.co/9tXz1bL/landh.png);
  cursor: pointer;
}

.treasure:active {
  background-image: url(https://i.ibb.co/JqVS2xD/treasure.png);
}

/* 말풍선 */
.talk-bubble {
	margin: 40px;
	display: inline-block;
	position: relative;
	width: 200px;
	height: auto;
	background-color: lightyellow;
}

.border {
	border: 8px solid #666;
}

.round {
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.talktext {
	padding: 1em;
	text-align: left;
	line-height: 1.5em;
}

.talktext p {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}